.textbox {
    font-size: 50px; /* Font size of the text */
    text-align: center; /* Center the text */
    margin: 20px auto; /* Center the text box on the page */
    font-family: 'Poppins', sans-serif; /* Font family */ 
    color: white; /* White text */
}
.center-text {
    text-align: center;
}

body {
    height: 100vh; /* Full height of the viewport */
    display: flex;
    justify-content: center; /* Centers the button horizontally */
    align-items: center; /* Centers the button vertically */
    margin: 0;
    flex-direction: column;
    color: white; /* White text */
    
}

.button-container {
    text-align: center;
    gap: 20px; /* Space between the buttons */
    display: flex;
    flex-direction: column;
}

.btn {
    background-color: #c55221; /* Green background */
    color: white; /* White text */
    padding: 15px 32px; /* Padding inside the button */
    font-size: 16px; /* Font size */
    border: none; /* Remove the default border */
    cursor: pointer; /* Show pointer cursor on hover */
    border-radius: 8px; /* Rounded corners */
    text-decoration: none; /* Remove underline */
    padding: 10px 20px; /* Padding inside the button */
   
}

.btn:hover {
    background-color: #e75f0a; /* Darker green on hover */
}

.small-image {
    width: 800px; /* Width of the image */
    border:#c55221 5px solid; /* Border around the image */
    height: auto;
}

h1 {
    text-align: center; /* Center the text */
    color: #fff5f5; /* Soft white with a slight red tint */
    text-shadow: 0 0 5px #ff4d4d, 0 0 10px #ff3333, 0 0 15px #ff1a1a, 0 0 20px #cc0000;
}

.question {
    font-size: 30px; /* Font size of the question */
    font-weight: bold; /* Bold text */
    text-align: center; /* Center the question */
    margin: 20px auto; /* Center the question on the page */
    font-family: 'Poppins', sans-serif; /* Font family */
    color: white; /* White text */
}




