nav {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #E5989B;
        font-size: larger;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        font-size:larger;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }

      
      li a:hover {
        background-color: #a7727d;
      }
}

.nav-logo {
    height: 50px; /* Adjust size */
    width: auto;
    position: absolute;
    top: 10px;
    right: 20px;
}

.dentcontainer {
    margin-top: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mouth {
    
}

.side {
    display: flex;
    flex-direction: column;
    gap: 30%; 
}