nav {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #E5989B;
        font-size: larger;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        font-size:larger;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }

      
      li a:hover {
        background-color: #a7727d;
      }
}

.row {
  display:flex;
  flex-direction: row;
  justify-content: center; /* Centers horizontally */
  gap: 50px;
  background-size: contain;  /* Makes sure the image covers the entire container */
  background-position: center;  /* Centers the image */
  background-repeat: no-repeat;
  height: min(700px, 80vw);
  width: 100vw;
    
  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;
    gap: 20%; 
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 290px;
    gap: 30%; 
  }
    
  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:270px;
    gap: 7%; 
    background-size: cover;
    background-position: center;
  }
  
  .open-modal{
    font-size:20px;
    width: 100%;
    padding: 10px 20px;
    background-color: #d54865;
    color: white;
    border: none;
    border-radius: 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .open-modal:hover{
    background-color: #8e2b3f;
  }
}

.name {
  display: flex;
  justify-content: center; /* Centers horizontally */
  color: #8e2b3f;
  font-size:150%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .nav-logo {
    height: 50px; /* Adjust size */
    width: auto;
    position: absolute;
    top: 10px;
    right: 20px;
}

/*Medications page*/
.pill {
  height: 50px;
}
.medcontainer {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;  /* Allows items to wrap to the next row */
  gap: 10px;  /* Adds space between items */
}

.sticky {
  width: calc(33% - 30px);  /* Each item takes half the width, minus gap */
  height: 350px;  /* Set a fixed height */
  background-color: #ffe0ae;
  padding-top: 20px;
  padding-left: 20px;
  display: flex;
  font-size: 20px;
}