nav {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #E5989B;
        font-size: larger;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        font-size:larger;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
      }

      
      li a:hover {
        background-color: #B5828C;
      }
}

.row {
  display:flex;
  flex-direction: row;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  gap: 100px;
    
  .side {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 300px;
      gap: 200px; 
    }
    
    .center {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top:0px;
      gap: 50px; 
    }
    
    .open-modal{
      font-size:20px;
      width: 100%;
      background-color: #B5828C;
      color: white;
      border-color: #B5828C;
      font-family: 'Times New Roman', Times, serif;
  }
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


